<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SupplementsPlannerConnectionString"
         connectionString="Data Source=(local);Initial Catalog=SupplementsPlanner;
             Persist Security Info=True;User ID=SupplementsPlanner;Password=123456789"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>